.form {
  display: block;
  width: 371px;
  margin: 32px auto;
}

.form input {
  min-width: 240px;
  padding: 8px 16px;
  margin-right: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;

  &:hover {
    border-color: #000000;
  }

  &:focus-within {
    color: #2e2f42;
    border-color: #4e75ff;
  }
}

.form button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #4e75ff;
  &:hover {
    background-color: #6c8cff;
  }
}
