.gallery {
  display: flex;
  flex-wrap: wrap;

  gap: 24px;
}

.gallery-card {
  width: 360px;
}

.gallery-card a {
  /* display: block; */
}

.card-stats {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.card-stat p {
  font-weight: bold;
}
