.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-card {
  border: 1px solid #808080;
}

.card-img {
  width: 360px;
  height: 160px;
  object-fit: cover;
}

.card-stats {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.card-stat p {
  font-weight: bold;
}

.load-more-btn {
  margin: 24px auto;
  display: block;
}
